.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    padding: 10px 0;
    /* Add padding above and below the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Add a subtle shadow */
}

.nav-link {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(230, 115, 8);
    padding: 0 10px;
    /* Add padding around the nav items */
}

.nav-link:hover {
    color: rgb(207, 144, 8);
}

body {
    min-height: 100vh;
    /* Ensure body takes at least the full viewport height */
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url("../images/beautiful.jpg") no-repeat center center;
    /* Add a semi-transparent overlay on top of the background image */
    background-size: cover;
    /* Ensure the background image covers the entire viewport */
    background-attachment: fixed;
}

/* Make the main content area take up the remaining space */
main {
    flex: 1;
}

.body-returnal {
    background: url('../images/fight.jpg') center/cover no-repeat;
    /* color: rgb(207, 144, 8); */
}

.body-deathstranding {
    background: url('../images/homepage.jpg') center/cover no-repeat;
    /* color: rgb(207, 144, 8); */
}

.body-tlou {
    background: url('../images/tloucollab.jpg') center/cover no-repeat;
    /* color: rgb(207, 144, 8); */
}

.body-ffx {
    background: url('../images/ffx_wallpaper.jpg') center/cover no-repeat;
    color: rgb(29, 24, 14);
}

h1 {
    color: rgb(207, 144, 8);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    font-size: 5vw
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    max-width: 300px;
    margin: 0 auto;
    transition: transform 0.3s ease;
    min-height: 500px;
    /* Adjust this value to make the cards longer */

}

.card-header,
.card-footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: none !important;
}


.card:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    transform: translateY(-10px);
}

.card-returnal {
    background: url('../images/returnal.jpg') center/cover no-repeat;
    color: rgb(207, 144, 8);
}

/* On hover, add a semi-transparent black layer */
.card-returnal:hover {
    background:
        url('../images/returnal.jpg') rgba(0, 255, 213, 0.373) center/cover no-repeat;
    background-blend-mode: multiply;
}

.card-deathstranding {
    background: url('../images/deathstranding_stock.jpg') center/cover no-repeat;
    color: rgb(207, 144, 8);
}

.card-deathstranding:hover {
    background: url('../images/deathstranding_stock.jpg') rgba(206, 137, 0, 0.4) center/cover no-repeat;
    background-blend-mode: multiply;
}

.card-ffx {
    background: url('../images/card_ffx.png') center/cover no-repeat;
    color: rgb(207, 144, 8);
}

.card-ffx:hover {
    background: url('../images/card_ffx.png') rgba(72, 212, 237, 0.4) center/cover no-repeat;
    background-blend-mode: multiply;
}

.card-tlou {
    background: url('../images/tlousmall.jpg') center/cover no-repeat;
    color: rgb(207, 144, 8);
}

.card-tlou:hover {
    background: url('../images/tlousmall.jpg') rgba(89, 56, 13, 0.3) center/cover no-repeat;
    background-blend-mode: multiply;
}

/*footer {
    margin-top: 48px;
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: white;
    border-top: 3px solid #444;
    width: 100%;
}*/

@media screen and (max-width: 800px) {
    .container-fluid {
        max-width: 90%;
        border: 5px solid rgb(81, 88, 82);
    }

    body {
        background-color: rgb(77, 74, 74);
    }

    .body-ffx {
        background: linear-gradient(rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.4)), url('../images/ffxsmwall.jpg') right/cover no-repeat;
        /* Add a semi-transparent overlay on top of the background image */
    }

    .card {
        margin: 10px auto;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-color: rgb(77, 74, 74);
    }
}

@media screen and (max-width: 600px) {
    .card:hover {
        transform: none;
        box-shadow: none;
    }
}

/*
references
https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image
https://getbootstrap.com/docs/4.3/utilities/stretched-link/
*/